.editable-text-container,
.dropdown-container {
  margin-bottom: 20px;
}

 
 .rounded-input::-webkit-inner-spin-button,
 .rounded-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
 }
.rounded-input{
  border: 0.3px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  margin-right: 10px;
  font-family: Arial;
  columns: black;
  -webkit-appearance: none;
  width: 100%;
  height: 15%;
}

.rounded-dropdown {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  margin-right: 10px;
 
}
.cursor-pointer {
    cursor: pointer;
}
#Catty{
  position: absolute;
}
#PositionDropdown{
  
}
#PreviewArea{
  overflow: hidden;

  width: 100%;
}
.cursor-pointer:hover {
    background-color: #007acc; /* Change the color to your preferred hover state color */
}
#StepsForwardEdit{
 
}
.widthHeight{
    width: 15%;
    height: 15%;
}
.dropdownStyle{
  background-color: #789ed2;
  border-radius: 30px;
}
.editable{
  width: 2rem;
  height:0.6rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  display: inline-block;
}

.editable input {
  padding: 0.5rem;
  font-size: inherit;
  color: black;
  border: 1px solid #ccc;
  /* border-radius: 4px;
  box-sizing: border-box; */
}
.longEditable{
  width: 5rem !important;
}
.blockPosition{
 background-color: #4c97ff;
 opacity: 1;
 cursor: move;
 border-radius: 2rem;
 justify-content: center;
 align-content: center;
 padding: 0.4vh;
 padding-left: 0.5rem;
 padding-right: 0.5rem;
 margin: 0.2rem;
 font-size: small;


}

.speech {
  margin-left: 10px;
  height: 35px;
  display: inline-block;
  color: white;
  width: 100px;
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  background-color: #fff;
  border: 1px solid #000;
  align-items: center;
  align-content: center;
  align-self: center;
  display: flex;
}
.speech::before{
  content: "";
  position: absolute;
  top: 16px;
  left: -8px;
  margin: auto;
  height: 14px;
  width: 17px;
  border: 1px solid #fff;
  transform: rotate(45deg);
  background-color: #fff;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
}
